.app-wrapper {
  text-align: center;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  width: 400px;
  height: 400px;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
